<header>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="dashboard.html"><i class="icon-home icon-white"></i> Mulia Pacific Motor</a>
                <ul class="nav user_menu pull-right">
                    <li class="hidden-phone hidden-tablet">
                        <div class="nb_boxes clearfix">
                            <a data-toggle="modal" data-backdrop="static" href="#myMail" class="label ttip_b" oldtitle="New messages" title="" aria-describedby="ui-tooltip-0">25 <i class="splashy-mail_light"></i></a>
                        </div>
                    </li>
                    <li class="divider-vertical hidden-phone hidden-tablet"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Johny Smith <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="user_profile.html">My Profile</a></li>
                            <li><a href="javascrip:void(0)">Ganti Password</a></li>
                            <li class="divider"></li>
                            <li><a href="login.html">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
               
        </div>
    </div>
</div>
<div class="modal hide fade" id="myMail" style="display: none;" aria-hidden="true">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Pesan Baru</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-info">In this table jquery plugin turns a table row into a clickable link.</div>
        <table class="table table-condensed table-striped" data-provides="rowlink">
            <thead>
                <tr>
                    <th>Pengirim</th>
                    <th>Subject</th>
                    <th>Tanggal</th>
                </tr>
            </thead>
            <tbody>
                <tr class="rowlink">
                    <td>Declan Pamphlett</td>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>23/05/2012</td>
                </tr>
                <tr class="rowlink">
                    <td>Erin Church</td>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>24/05/2012</td>
                </tr>
                <tr class="rowlink">
                    <td>Koby Auld</td>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>25/05/2012</td>
                </tr>
                <tr class="rowlink">
                    <td>Anthony Pound</td>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>25/05/2012</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="btn">Go to mailbox</a>
    </div>
</div>
</header>




