<a href="javascript:void(0)" class="sidebar_switch on_switch ttip_r" oldtitle="Hide Sidebar" title="">Sidebar switch</a>
<div class="sidebar">
    <div class="antiScroll">
        <div class="antiscroll-inner">
            <div class="antiscroll-content"> 
                <div class="sidebar_inner">
                    <form action="search_page.html" class="input-append" method="post">
                        <input autocomplete="off" name="query" class="search_query input-medium" size="16" type="text" placeholder="Search..."><button type="submit" class="btn"><i class="icon-search"></i></button>
                    </form>
                    
                    <div id="sidebarsMenu">
                    </div>

                  
            </div>

            <div class="push" style="height: 92px;"></div>
        </div>

        <div class="sidebar_info" style="height: 92px;">
            <ul class="unstyled">
                <li>
                    <span class="act act-warning">65</span>
                    <strong>User Online</strong>
                </li>
                <li>
                    <span class="act act-success">10</span>
                    <strong>Transaksi Hari Ini</strong>
                </li>
            </ul>
        </div> 
    </div>
</div>
<div class="antiscroll-scrollbar antiscroll-scrollbar-vertical" style="height: 308.3445595854922px; top: 0px;"></div></div>
</div>