<a href="javascript:void(0)" class="sidebar_switch on_switch ttip_r" oldtitle="Hide Sidebar" title="">Sidebar switch</a>
<div class="sidebar">
    <div class="antiScroll">
        <div class="antiscroll-inner">
            <div class="antiscroll-content"> 
                <div class="sidebar_inner">
                    <form action="search_page.html" class="input-append" method="post">
                        <input autocomplete="off" name="query" class="search_query input-medium" size="16" type="text" placeholder="Search..."><button type="submit" class="btn"><i class="icon-search"></i></button>
                    </form>
                    <div id="side_accordion" class="accordion">
                       <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#/home" class="accordion-toggle">
                                <i class="icon-home"></i> Home
                            </a>
                        </div>
                    </div>
                     <div id="side_accordion" class="accordion">
                       <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#/analisis" class="accordion-toggle">
                                <i class="icon-signal"></i> Analisis
                            </a>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#collapseOne" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                                <i class="icon-folder-close"></i> Master Admin
                            </a>
                        </div>
                        <div class="accordion-body collapse" id="collapseOne">
                            <div class="accordion-inner">
                                <ul class="nav nav-list">
                                    <li class="nav-header">Users</li>
                                    <li><a href="#/users">Daftar Users</a></li>
                                    <li><a href="#/users/add">Buat Users</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Karyawan</li>
                                    <li><a href="#/karyawan">Daftar Karyawan</a></li>
                                    <li><a href="#/karyawan/add">Buat Karyawan</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Cabang</li>
                                    <li><a href="#/cabang">Daftar Cabang</a></li>
                                    <li><a href="#/cabang/add">Buat Cabang</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#collapseTwo" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                <i class="icon-th"></i> Transaksi
                            </a>
                        </div>
                        <div class="accordion-body collapse" id="collapseTwo" style="height: 0px;">
                            <div class="accordion-inner">
                                <ul class="nav nav-list">
                                    <li><a href="#/leasing/add">Buat Leasing</a></li>
                                    <li><a href="#constructionModal" data-toggle="modal">Daftar Leasing</a></li>
                                    <li><a href="#constructionModal" data-toggle="modal">Piutang Nasabah</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#collapseThree" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                                <i class="icon-list"></i> Laporan
                            </a>
                        </div>
                        <div class="accordion-body collapse" id="collapseThree">
                            <div class="accordion-inner">
                                <ul class="nav nav-list">
                                    <li><a href="#constructionModal" data-toggle="modal">Keuntungan</a></li>
                                    <li><a href="#constructionModal" data-toggle="modal">Transaksi Leasing</a></li>
                                    <li><a href="#constructionModal" data-toggle="modal">Karyawan</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>

                  
            </div>

            <div class="push" style="height: 92px;"></div>
        </div>

        <div class="sidebar_info" style="height: 92px;">
            <ul class="unstyled">
                <li>
                    <span class="act act-warning">65</span>
                    <strong>User Online</strong>
                </li>
                <li>
                    <span class="act act-success">10</span>
                    <strong>Transaksi Hari Ini</strong>
                </li>
            </ul>
        </div> 
    </div>
</div>
<div class="antiscroll-scrollbar antiscroll-scrollbar-vertical" style="height: 308.3445595854922px; top: 0px;"></div></div>
</div>