<a href="javascript:void(0)" class="sidebar_switch on_switch ttip_r" oldtitle="Hide Sidebar" title="">Sidebar switch</a>
<div class="sidebar">
    <div class="antiScroll">
        <div class="antiscroll-inner">
        <div class="sidebar_info">
                                <ul class="unstyled">
                                    <li>
                                        <strong>Cabang : {{currentUser.cabang.namaCabang}}</strong>
                                    </li>
                                   
                                </ul>
                            </div>
            <div class="antiscroll-content"> 
                <div class="sidebar_inner">
                    <div id="sidebarsMenu">

                    </div>
            </div>
        </div>

     <!--    <div class="sidebar_info" style="height: 92px;">
            <ul class="unstyled">
                <li>
                    <span class="act act-warning">65</span>
                    <strong>User Online</strong>
                </li>
                <li>
                    <span class="act act-success">10</span>
                    <strong>Transaksi Hari Ini</strong>
                </li>
            </ul>
        </div>  -->
    </div>
</div>
</div>
