<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mulia Pacific Motor - Online System</title>
    
        <!-- Bootstrap framework -->
            <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
            <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css" />
            <link rel="stylesheet" href="/bootstrap-glyphicons/css/bootstrap.icon-large.min.css" />
            
            
        <!-- breadcrumbs-->
            <link rel="stylesheet" href="/lib/jBreadcrumbs/css/BreadCrumb.css" />
        <!-- tooltips-->
            <link rel="stylesheet" href="/lib/qtip2/jquery.qtip.min.css" />

            <link rel="stylesheet" href="/lib/stepy/css/jquery.stepy.css" />
        <!-- colorbox -->
            <link rel="stylesheet" href="/lib/jquery-ui/css/smoothness/jquery-ui-1.8.20.custom.css" />    
        <!-- code prettify -->
            <link rel="stylesheet" href="/lib/google-code-prettify/prettify.css" />    
        <!-- notifications -->
            <link rel="stylesheet" href="/lib/sticky/sticky.css" />    
        <!-- splashy icons -->
            <link rel="stylesheet" href="/img/splashy/splashy.css" />
        <!-- flags -->
            <link rel="stylesheet" href="/img/flags/flags.css" />    
        <!-- calendar -->
            <link rel="stylesheet" href="/lib/fullcalendar/fullcalendar_gebo.css" />
            
        <!-- gebo color theme-->
            <link rel="stylesheet" href="/css/blue.css" id="link_theme" />

            <link rel="stylesheet" href="/css/style.css" />
        <!-- main styles -->
            <link rel="stylesheet" href="/css/fineuploader-3.5.0.css" />


            <link rel="stylesheet" href="/css/select2.css" />
            
            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans" />
    
        <!-- Favicon -->
            <link rel="shortcut icon" href="favicon.ico" />
              <script>
            //* hide all elements & show preloader
            document.documentElement.className += 'js';
        </script>
    </head>
    <body>
        <div id="loading_layer" style="display:none"><img src="/img/ajax_loader.gif" alt="" /></div>

    {{> menus}}
    <div id="containerwrapper"> 
    <div class="main_content" id="container"> 
    {{{body}}}
    </div>
    </div> 

      {{> sidebars}}
    {{> scripts}}

    {{{block "pageScripts"}}}

  <div class="modal hide fade" id="constructionModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Belum tersdia</h3>
  </div>
  <div class="modal-body">
    <p>Modul yang anda buka belum tersedia…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
  </div>
</div>
  </body>

</html>