<div class="row-fluid">
                        <div class="span12">
                            <h3 class="heading">Gallery table view</h3>
                            <div id="dt_gal_wrapper" class="dataTables_wrapper form-inline" role="grid"><div class="row"><div class="span6"><div class="dt_actions">
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="delete_rows_dt" data-tableid="dt_gal"><i class="icon-trash"></i> Delete</a></li>
                                    <li><a href="javascript:void(0)">Lorem ipsum</a></li>
                                    <li><a href="javascript:void(0)">Lorem ipsum</a></li>
                                </ul>
                            </div>
                        </div><div id="dt_gal_length" class="dataTables_length"><label><select size="1" name="dt_gal_length" aria-controls="dt_gal"><option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select></label></div></div><div class="span6"><div class="dataTables_filter" id="dt_gal_filter"><label><input type="text" aria-controls="dt_gal"></label></div></div></div><table class="table table-bordered table-striped table_vam dataTable" id="dt_gal" aria-describedby="dt_gal_info">
                                <thead>
                                    <tr role="row"><th class="table_checkbox sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 13px;" aria-label=""><input type="checkbox" name="select_rows" class="select_rows" data-tableid="dt_gal"></th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 60px;" aria-label="Image">Image</th><th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="dt_gal" rowspan="1" colspan="1" style="width: 358px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Name</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="dt_gal" rowspan="1" colspan="1" style="width: 141px;" aria-label="Size: activate to sort column ascending">Size</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="dt_gal" rowspan="1" colspan="1" style="width: 197px;" aria-label="Date: activate to sort column ascending">Date</th><th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 187px;" aria-label="Actions">Actions</th></tr>
                                </thead>
                                
                            <tbody role="alert" aria-live="polite" aria-relevant="all"><tr class="odd">
                                        <td class=" "><input type="checkbox" name="row_sel" class="row_sel"></td>
                                        <td style="width:60px" class=" ">
                                            <a href="gallery/Image10.jpg" title="Image 10" class="cbox_single thumbnail cboxElement">
                                                <img alt="" src="gallery/Image10_tn.jpg" style="height:50px;width:50px">
                                            </a>
                                        </td>
                                        <td class="  sorting_1">Lorem ipsum dolor sit<br><small>Image10.jpg</small></td>
                                        <td class=" ">200 KB</td>
                                        <td class=" ">28/06/2012</td>
                                        <td class=" ">
                                            <a href="#" class="sepV_a" title="Edit"><i class="icon-pencil"></i></a>
                                            <a href="#" class="sepV_a" title="View"><i class="icon-eye-open"></i></a>
                                            <a href="#" title="Delete"><i class="icon-trash"></i></a>
                                        </td>
                                    </tr><tr class="even">
                                        <td class=" "><input type="checkbox" name="row_sel" class="row_sel"></td>
                                        <td style="width:60px" class=" ">
                                            <a href="gallery/Image11.jpg" title="Image 11" class="cbox_single thumbnail cboxElement">
                                                <img alt="" src="gallery/Image11_tn.jpg" style="height:50px;width:50px">
                                            </a>
                                        </td>
                                        <td class="  sorting_1">Lorem ipsum dolor sit<br><small>Image11.jpg</small></td>
                                        <td class=" ">210 KB</td>
                                        <td class=" ">27/06/2012</td>
                                        <td class=" ">
                                            <a href="#" class="sepV_a" title="Edit"><i class="icon-pencil"></i></a>
                                            <a href="#" class="sepV_a" title="View"><i class="icon-eye-open"></i></a>
                                            <a href="#" title="Delete"><i class="icon-trash"></i></a>
                                        </td>
                                    </tr><tr class="odd">
                                        <td class=" "><input type="checkbox" name="row_sel" class="row_sel"></td>
                                        <td style="width:60px" class=" ">
                                            <a href="gallery/Image12.jpg" title="Image 12" class="cbox_single thumbnail cboxElement">
                                                <img alt="" src="gallery/Image12_tn.jpg" style="height:50px;width:50px">
                                            </a>
                                        </td>
                                        <td class="  sorting_1">Lorem ipsum dolor sit<br><small>Image12.jpg</small></td>
                                        <td class=" ">360 KB</td>
                                        <td class=" ">25/06/2012</td>
                                        <td class=" ">
                                            <a href="#" class="sepV_a" title="Edit"><i class="icon-pencil"></i></a>
                                            <a href="#" class="sepV_a" title="View"><i class="icon-eye-open"></i></a>
                                            <a href="#" title="Delete"><i class="icon-trash"></i></a>
                                        </td>
                                    </tr><tr class="even">
                                        <td class=" "><input type="checkbox" name="row_sel" class="row_sel"></td>
                                        <td style="width:60px" class=" ">
                                            <a href="gallery/Image13.jpg" title="Image 13" class="cbox_single thumbnail cboxElement">
                                                <img alt="" src="gallery/Image13_tn.jpg" style="height:50px;width:50px">
                                            </a>
                                        </td>
                                        <td class="  sorting_1">Lorem ipsum dolor sit<br><small>Image13.jpg</small></td>
                                        <td class=" ">215 KB</td>
                                        <td class=" ">24/06/2012</td>
                                        <td class=" ">
                                            <a href="#" class="sepV_a" title="Edit"><i class="icon-pencil"></i></a>
                                            <a href="#" class="sepV_a" title="View"><i class="icon-eye-open"></i></a>
                                            <a href="#" title="Delete"><i class="icon-trash"></i></a>
                                        </td>
                                    </tr><tr class="odd">
                                        <td class=" "><input type="checkbox" name="row_sel" class="row_sel"></td>
                                        <td style="width:60px" class=" ">
                                            <a href="gallery/Image14.jpg" title="Image 14" class="cbox_single thumbnail cboxElement">
                                                <img alt="" src="gallery/Image14_tn.jpg" style="height:50px;width:50px">
                                            </a>
                                        </td>
                                        <td class="  sorting_1">Lorem ipsum dolor sit<br><small>Image14.jpg</small></td>
                                        <td class=" ">650 KB</td>
                                        <td class=" ">24/06/2012</td>
                                        <td class=" ">
                                            <a href="#" class="sepV_a" title="Edit"><i class="icon-pencil"></i></a>
                                            <a href="#" class="sepV_a" title="View"><i class="icon-eye-open"></i></a>
                                            <a href="#" title="Delete"><i class="icon-trash"></i></a>
                                        </td>
                                    </tr><tr class="even">
                                        <td class=" "><input type="checkbox" name="row_sel" class="row_sel"></td>
                                        <td style="width:60px" class=" ">
                                            <a href="gallery/Image15.jpg" title="Image 15" class="cbox_single thumbnail cboxElement">
                                                <img alt="" src="gallery/Image15_tn.jpg" style="height:50px;width:50px">
                                            </a>
                                        </td>
                                        <td class="  sorting_1">Lorem ipsum dolor sit<br><small>Image15.jpg</small></td>
                                        <td class=" ">428 KB</td>
                                        <td class=" ">23/06/2012</td>
                                        <td class=" ">
                                            <a href="#" class="sepV_a" title="Edit"><i class="icon-pencil"></i></a>
                                            <a href="#" class="sepV_a" title="View"><i class="icon-eye-open"></i></a>
                                            <a href="#" title="Delete"><i class="icon-trash"></i></a>
                                        </td>
                                    </tr></tbody></table><div class="row"><div class="span6"><div class="dataTables_info" id="dt_gal_info">Showing 1 to 6 of 6 entries</div></div><div class="span6"><div class="dataTables_paginate paging_bootstrap pagination"><ul><li class="prev disabled"><a href="#">Previous</a></li><li class="active"><a href="#">1</a></li><li class="next disabled"><a href="#">Next</a></li></ul></div></div></div></div>
                            
                        </div>
                    </div>

{{#contentFor 'pageScripts'}}

            <!-- datatable -->
            <script src="lib/datatables/jquery.dataTables.min.js"></script>
            <!-- additional sorting for datatables -->
            <script src="lib/datatables/jquery.dataTables.sorting.js"></script>
            <!-- datatables bootstrap integration -->
            <script src="lib/datatables/jquery.dataTables.bootstrap.min.js"></script>

  			<script src="js/gebo_tables.js"></script>
{{/contentFor}}