<div class="row-fluid">
	<div class="span12">

		<form id="userForm" method="post">
			<div class="formSep">
				<label>Username<span class="f_req">*</span></label>
				<input type="text" name="username">
			</div>
			<div class="formSep">
				<label>Password<span class="f_req">*</span></label>
				<input type="password" name="password">
			</div>
			<div class="formSep">
				<label>Password<span class="f_req">*</span></label>
				<input type="password" name="confirmPassword">
			</div>
			
			<div class="form-actions">
				<button class="btn btn-inverse" type="submit">Save changes</button>
				<button class="btn">Cancel</button>
			</div>
		</form>
	</div>
</div>

{{#content "pageScripts"}}
<!-- validation -->
<script src="/lib/validation/jquery.validate.min.js"></script>

<script>
$(document).ready(function(){
	$("#userForm").validate({
		onkeyup: false,
		errorClass: 'error',
		validClass: 'valid',
		highlight: function(element) {
			$(element).closest('div').addClass("f_error");
		},
		unhighlight: function(element) {
			$(element).closest('div').removeClass("f_error");
		},
		errorPlacement: function(error, element) {
			$(element).closest('div').append(error);
		}, 
		rules: {
			username: "required",
			password : {
				required :true,
				minlength : 1
			},
			confirmPassword : {
				required :true,
				minlength : 1,
				equalTo : "input[name=password]"
			}
		},
		messages: {
			username: "Please enter your username"
		}
	});

	 var options = { 
        success:       showResponse  // post-submit callback 
        ,clearForm: true,
        error : errorHandler
        // other available options: 
        //url:       url         // override for form's 'action' attribute 
        //type:      type        // 'get' or 'post', override for form's 'method' attribute 
        //dataType:  null        // 'xml', 'script', or 'json' (expected server response type) 
        //clearForm: true        // clear all form fields after successful submit 
        //resetForm: true        // reset the form after successful submit 
 
        // $.ajax options can be used here too, for example: 
        //timeout:   3000 
    }; 
	$('#userForm').ajaxForm(options); 
});
	function showResponse(responseText, statusText, xhr, $form) {
		if(responseText.success) {
			console.log('success');
		}
	}
	function errorHandler(context, xhr, status, responseText) {
		console.log(context.responseText);
	}
</script>
{{/content}}