<div class="row-fluid">
    <div class="span12">
		<form class="form_validation_ttip" id="signup">
			<div class="formSep">
			<div class="span4">
				<label>First name <span class="f_req">*</span></label>
				<input type="text" name="reg_first_name" class="span12" id="reg_first_name" />
				<span class="help-block">help block</span>
			</div>
			</div>
			<div class="formSep">
				<label>Username</label>
				<input type="text">
			</div>
			<div class="formSep">
				<label>Password</label>
				<input type="password">
			</div>
			<div class="formSep">
				<div class="row-fluid">
					<div class="span6">
						<label>Textarea</label>
						<textarea name="txtarea_reg" id="txtarea_reg" cols="10" rows="3"></textarea>
					</div>
					<div class="span6">
						<label>Textarea with <code>.span8</code> class</label>
						<textarea name="txtarea_sp" id="txtarea_sp" cols="10" rows="3" class="span8"></textarea>
					</div>
				</div>
			</div>
            	<div class="form-actions">
									<button class="btn btn-inverse" type="submit">Save changes</button>
									<button class="btn">Cancel</button>
								</div>
        </form>
    </div>
</div>

{{#content "pageScripts"}}
<!-- validation -->
<script src="/lib/validation/jquery.validate.min.js"></script>

<script>
	$(document).ready(function(){
		$("#signup").validate({
  onkeyup: false,
  errorClass: 'error',
  validClass: 'valid',
  highlight: function(element) {
    $(element).closest('div').addClass("f_error");
  },
  unhighlight: function(element) {
    $(element).closest('div').removeClass("f_error");
  },
  errorPlacement: function(error, element) {
    $(element).closest('div').append(error);
  }, 
  rules: {
    reg_first_name: "required"
  },
  messages: {
    reg_first_name: "Please enter your firstname"
  }
});
	});
</script>
{{/content}}