<div class="row-fluid">
	<div class="span12">
		<h3 class="heading">Tambah Leasing</h3>

		<div class="row-fluid">
			<div class="span12">
				<form id="validate_wizard" class="stepy-wizzard form-horizontal">
					<fieldset title="Pemohon">
						<legend class="hide">Informasi Pemohon</legend>
						<div class="row-fluid control-group">
						<div class="span5">
						<div class="control-group">
							<label for="v_username" class="control-label">Kantor:</label>
							<div class="controls">
								<input type="text" name="kantor" id="kantor" />
							</div>
						</div>
						<div class="control-group">
							<label for="v_password" class="control-label">No Identitas:</label>
							<div class="controls">
								<input type="password" name="v_password" id="v_password" />
							</div>
						</div>
						<div class="control-group">
							<label for="v_email" class="control-label">Nama:</label>
							<div class="controls">
								<input type="text" name="v_email" id="v_email" />
							</div>
						</div>
						<div class="control-group">
							<label for="v_email" class="control-label">Alamat:</label>
							<div class="controls">
								<input type="text" name="v_email" id="v_email" />
							</div>
						</div>
						<div class="control-group">
							<label for="v_email" class="control-label">RT / RW :</label>
							<div class="controls">
								<input type="text" name="v_email" id="v_email" />
							</div>
						</div>
						<div class="control-group">
							<label for="v_email" class="control-label">Kelurahan:</label>
							<div class="controls">
								<input type="text" name="v_email" id="v_email" />
							</div>
						</div>
						<div class="control-group">
							<label for="v_email" class="control-label">Kecamatan:</label>
							<div class="controls">
								<input type="text" name="v_email" id="v_email" />
							</div>
						</div>
						<div class="control-group">
							<label for="v_email" class="control-label">Kotamadya:</label>
							<div class="controls">
								<input type="text" name="v_email" id="v_email" />
							</div>
						</div>
						</div>
						<div class="span6">
						<div class="control-group">
							<label for="v_username" class="control-label">Kantor:</label>
							<div class="controls">
								<input type="text" name="kantor" id="kantor" />
							</div>
						</div>
						<div class="control-group">
							<label for="v_password" class="control-label">Password:</label>
							<div class="controls">
								<input type="password" name="v_password" id="v_password" />
							</div>
						</div>
						<div class="control-group">
							<label for="v_email" class="control-label">E-mail:</label>
							<div class="controls">
								<input type="text" name="v_email" id="v_email" />
							</div>
						</div>
						</div>
					</div>
					</fieldset>
					<fieldset title="Penjamin">
						<legend class="hide">Informasi Penjamin&hellip;</legend>
						<div class="formSep control-group">
							<label for="v_street" class="control-label">Street Address:</label>
							<div class="controls">
								<input type="text" name="v_street" id="v_street" />
							</div>
						</div>
						<div class="formSep control-group">
							<label for="v_city" class="control-label">City:</label>
							<div class="controls">
								<input type="text" name="v_city" id="v_city" />
							</div>
						</div>
						<div class="control-group">
							<label for="v_country" class="control-label">Country:</label>
							<div class="controls">
								<input type="text" name="v_country" id="v_country" />
							</div>
						</div>
					</fieldset>
					<fieldset title="Saksi">
						<legend class="hide">Informasi Saksi&hellip;</legend>
						<div class="formSep control-group">
							<label for="v_message" class="control-label">Your Message:</label>
							<div class="controls">
								<textarea name="v_message" id="v_message" rows="3"></textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Newsletter:</label>
							<div class="controls">
								<label class="radio inline" for="newsletter_yes">
									<input type="radio" value="yes" id="newsletter_yes" name="v_newsletter"> Yes
								</label>
								<label class="radio inline" for="newsletter_no">
									<input type="radio" value="no" id="newsletter_no" name="v_newsletter"> No
								</label>
							</div>
						</div>
					</fieldset>
					<fieldset title="Kendaraan">
						<legend class="hide">Informasi Kendaraan&hellip;</legend>
						<div class="formSep control-group">
							<label for="v_message" class="control-label">Your Message:</label>
							<div class="controls">
								<textarea name="v_message" id="v_message" rows="3"></textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Newsletter:</label>
							<div class="controls">
								<label class="radio inline" for="newsletter_yes">
									<input type="radio" value="yes" id="newsletter_yes" name="v_newsletter"> Yes
								</label>
								<label class="radio inline" for="newsletter_no">
									<input type="radio" value="no" id="newsletter_no" name="v_newsletter"> No
								</label>
							</div>
						</div>
					</fieldset>
					<fieldset title="Leasing">
						<legend class="hide">Informasi Leasing&hellip;</legend>
						<div class="formSep control-group">
							<label for="v_message" class="control-label">Your Message:</label>
							<div class="controls">
								<textarea name="v_message" id="v_message" rows="3"></textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Newsletter:</label>
							<div class="controls">
								<label class="radio inline" for="newsletter_yes">
									<input type="radio" value="yes" id="newsletter_yes" name="v_newsletter"> Yes
								</label>
								<label class="radio inline" for="newsletter_no">
									<input type="radio" value="no" id="newsletter_no" name="v_newsletter"> No
								</label>
							</div>
						</div>
					</fieldset>
					<button type="button" class="finish btn btn-primary"><i class="icon-ok icon-white"></i> Send registration</button>
				</form>
			</div>
		</div>

		
	</div>
</div>
<script>
$(document).ready(function() {

	$('#validate_wizard').stepy({
		nextLabel:      'Forward <i class="icon-chevron-right icon-white"></i>',
		backLabel:      '<i class="icon-chevron-left"></i> Backward',
		block		: true,
		errorImage	: true,
		titleClick	: true,
		validate	: true
	});

	$('.stepy-titles').each(function(){
		$(this).children('li').each(function(index){
			var myIndex = index + 1
			$(this).append('<span class="stepNb">'+myIndex+'</span>');
		})
	})

	$('#leasingForm').ajaxForm(options); 

	function preForm(arr, $form, options) { 

		return true;
	}
	function showResponse(responseText, statusText, xhr, $form) {
		if(responseText.success) {

			console.log('success');
		}
	}
	function errorHandler(context, xhr, status, responseText) {
		console.log(context.responseText);
	}
});
</script>