<div class="row-fluid">
	<div class="span12">
  		<h3 class="heading">Tambah Cabang</h3>
		<form id="cabangForm" method="post">
			<div class="control-group ">
				<label>Kode / Nama Cabang<span class="f_req">*</span></label>
				<div class="row-fluid">
				<div class="span5">
				<input type="text" name="kodeCabang" class="span2"> /
				
				<input type="text" name="namaCabang" >
				</div>
				</div>
			</div>
		
			<div class="control-group">
				<label>Alamat</label>
				<textarea name="alamat" />
			</div>
			<div class="control-group">
				<label>Kota</label>
				<input type="text" name="kota">
			</div>
			<div class="control-group">
				<label>Kode Pos</label>
				<input type="text" name="kodePos">
			</div>
			<div class="control-group">
				<label>Telepon</label>
				<input type="text" name="telepon">
			</div>
			<div class="form-actions">
				<button type="button" class="finish btn btn-primary save" data-loading-text="Loading ..."><i class="icon-ok icon-white"></i> Save</button>
				<a class="btn cancel">Cancel</a>
			</div>
		</form>
	</div>
</div>

<script>
	
</script>