<div class="row-fluid">
	<div class="span12">
		
		<h3 class="heading">Form Customer</h3>

  		<form id="customerForm" method="post">
            <input type="hidden" name="imgProfile" id="imgProfile" value="<%=imgProfile%>">
  			<div class="formMessage">
  			</div>

            <fieldset title="Pemohon">
                <legend class="hide">Informasi Pemohon</legend>
                <div class="row-fluid control-group">
                    <div class="span5">
                        <div class="well">
                            <p><span class="label label-inverse">Informasi Pemohon</span></p>
                            <div class="control-group">
                                <div data-provides="fileupload" class="fileupload fileupload-new">
                                    <div style="width: 80px; height: 80px;" class="fileupload-new thumbnail">
                                        <img src="<%=imgProfile!=''?'/thumbnail/'+imgProfile:'/img/80x80.gif'%>" alt="" id="thumbnail-profile"></div>

                                    <div style="width: 80px; height: 80px; line-height: 80px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                    <span id="img-uploader" class="btn btn-file"></span>
                                    <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                </div>

                            </div>
                            <div class="control-group">
                                <label for="noIdentitas">No Identitas<span class="f_req">*</span></label>

                                <div class="input-prepend">
                                    <select name="tipeIdentitas" class="span4" id="tipeIdentitas">
                                        <option <%=tipeIdentitas=='KTP'?'checked':''%> >KTP</option>
                                        <option <%=tipeIdentitas=='SIM'?'checked':''%> >SIM</option>
                                    </select>&nbsp;	<input type="text" name="noIdentitas" id="noIdentitas" class="span8" value="<%=noIdentitas%>">
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label for="namaCustomer">Nama<span class="f_req">*</span></label>
                                        <input type="text" name="namaCustomer" id="namaCustomer"  class="span12" value="<%=namaCustomer%>" />
                                    </div>

                                    <div class="span6">
                                        <label>Jenis Kelamin<span class="f_req">*</span></label>
                                        <label class="radio inline">
                                            <input name="gender" value="L" type="radio" <%=gender=='L'?'checked':''%> >Laki
                                        </label>
                                        <label class="radio inline">
                                            <input name="gender" value="P" type="radio" <%=gender=='P'?'checked':''%> >Perempuan
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <label>Kantor</label>
                                        <input type="text" name="kantor" class="span12" value="<%=kantor%>">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="well">
                            <p><span class="label label-inverse">Informasi Tempat Tinggal</span></p>
                            <div class="control-group">
                                <label for="alamatJalan">Alamat:</label>
                                <textarea name="alamat[jalan]" id="alamatJalan"><%=alamat.jalan%></textarea>
                            </div>
                            <div class="control-group">
                                <div class="row-fluid">
                                    <div class="span4">
                                        <label>Kota</label>
                                        <input type="text" name="alamat[kota]" class="span12" value="<%=alamat.kota%>">
                                    </div>
                                    <div class="span4">
                                        <label>Kode Pos</label>
                                        <input type="text" name="alamat[kodePos]" class="span12" value="<%=alamat.kodePos%>">
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="row-fluid">
                                    <div class="span4">
                                        <label>RT</label>
                                        <input type="text" name="alamat[rt]" class="span12" value="<%=alamat.rt%>">
                                    </div>
                                    <div class="span4">
                                        <label>RW </label>
                                        <input type="text" name="alamat[rw]" class="span12" value="<%=alamat.rw%>">
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="row-fluid">
                                    <div class="span4">
                                        <label>Kelurahan</label>
                                        <input type="text" name="alamat[lurah]" class="span12" value="<%=alamat.lurah%>">
                                    </div>
                                    <div class="span4">
                                        <label>Kecamatan</label>
                                        <input type="text" name="alamat[camat]" class="span12" value="<%=alamat.camat%>">
                                    </div>

                                    <div class="span4">
                                        <label>Kotamadya</label>
                                        <input type="text" name="alamat[kotamadya]" class="span12" value="<%=alamat.kotamadya%>">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="span6">

                        <div class="well">
                            <p><span class="label label-inverse">Informasi Kontak</span></p>

                            <div class="control-group">
                                <div class="row-fluid">
                                    <div class="span4">
                                        <label>Tlpn. Rmh</label>
                                        <input type="text" name="telepon[rmh]" class="span12" value="<%=telepon.rmh%>">
                                    </div>
                                    <div class="span4">
                                        <label>Tlpn. Kantor </label>
                                        <input type="text" name="telepon[kantor]" class="span12" value="<%=telepon.kantor%>">
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="row-fluid">
                                    <div class="span4">
                                        <label>HP1 <span class="f_req">*</span></label>
                                        <input type="text" name="telepon[hp1]" class="span12" value="<%=telepon.hp1%>">
                                    </div>
                                    <div class="span4">
                                        <label>HP2 </label>
                                        <input type="text" name="telepon[hp2]" class="span12" value="<%=telepon.hp2%>">
                                    </div>
                                    <div class="span4">
                                        <label>Email</label>
                                        <input type="text" name="email" class="span12" value="<%=email%>">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="well">
                            <p><span class="label label-inverse">Informasi Bank</span></p>

                            <div class="control-group">
                                <div class="row-fluid">
                                    <div class="span4">
                                        <label>Bank</label>
                                        <input type="text" name="bank[nama]" class="span12" value="<%=bank.nama%>">
                                    </div>
                                    <div class="span4">
                                        <label>No Rekening </label>
                                        <input type="text" name="bank[noRekening]" class="span12"  value="<%=bank.noRekening%>">
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="row-fluid">
                                    <div class="span4">
                                        <label>Atas Nama</label>
                                        <input type="text" name="bank[atasNama]" class="span12"  value="<%=bank.atasNama%>">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>

			<div class="form-actions">
				<button type="button" class="finish btn btn-primary save" data-loading-text="Loading ..."><i class="icon-ok icon-white"></i> Save</button>
				<a class="btn cancel">Cancel</a>
			</div>
		</form>
	</div>
</div>

        <script>
            $(document).ready(function() {

                $('#img-uploader').fineUploader({
                    request: {
                        endpoint: '/api/upload'
                    },
                    multiple: false,
                    validation: {
                        allowedExtensions: ['jpeg', 'jpg', 'gif', 'png'],
                        sizeLimit: 112000
                    },
                    text: {
                        uploadButton: 'Click or Drop'
                    }
                }).on('complete', function(event, id, fileName, response) {
                            if (response.success) {
                                $('#thumbnail-profile').attr('src','/thumbnail/'+response.path);
                                $('#imgProfile').val(response.path);
                            }
                            else {
                                $('#thumbnail-profile').attr('src','/img/80x80.gif');
                                $('#imgProfile').val('');
                            }
                        });
            });

        </script>
