<div class="row-fluid">
     <div class="span6">
        <h3 class="heading">Transaksi Terbaru</h3>
        <div class="w-box" id="w_sort04">    
            <div class="w-box-header">
                                  Transaksi terbaru
            </div>
            <div class="w-box-content">
                <table class="table table-striped table_vam no-th privia_grid" id="latestTransactionGrid">
                    
                    <!-- <tr>
                        <td><img alt="" src="/profiles/16fdd13.jpg" class="thumbnail" /></td>
                        <td>
                        	<div>Caroline Zheng</div>
						<span class="badge">Serpong</span>
                        </td>
                        <td ><strong class="act-info">Rp. 183.15</strong></td>
                        <td>23 May 2013</td>
                    </tr>
                    <tr>
                        <td><img alt="" src="/profiles/140952e.jpg" class="thumbnail" /></td>
                        <td>
                        	<div>
                        	Erin Church
                        </div>
                        <span class="badge">Pluit Village</span></td>
                        <td><strong class="act-danger">Rp. 23.00</strong></td>
                        <td>23 May 2013</td>
                    </tr> -->
                </table>
            </div>
        </div>
    </div>
   <div class="span6">
        <h3 class="heading">Acara</h3>
        <div class="w-box" id="w_sort04">    
            <div class="w-box-header">
                Hari Ini
            </div>
            <div class="w-box-content">
                <table class="table table-striped table_vam no-th">
                    <tr>
                        <td width=15%><img alt="" src="/profiles/3a98451.png" class="thumbnail" /></td>
                        <td>
                        	<div>
                        	<label>Summer Throssell
                        	</label>
                        	<small> <span class="icon-gift"></span> Ulang tahun ke 28</small>
                        	</div>
                        </td>
                    </tr>
                    <tr>
                        <td><img alt="" src="/profiles/12a985f.jpg" class="thumbnail" /></td>
                         <td>
                        	<div>
                        	<label>Jenny Trish
                        	</label>
                        	<small> <span class="icon-gift"></span> Ulang tahun ke 25</small>
                        	</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="w-box-header">
                Akan Datang
            </div>
            <div class="w-box-content">
                <table class="table table-striped table_vam no-th">
                    <tr>
                        <td width=15%><img alt="" src="/profiles/140952e.jpg" class="thumbnail" /></td>
                         <td>
                        	<div>
                        	<label>Jude Claw
                        	</label>
                        	<small> <span class="icon-gift"></span> Ulang tahun ke 35</small>
                        	</div>
                        </td>
                    </tr>
                     <tr>
                        <td width=15%><img alt="" src="http://placehold.it/40x40/efefef" class="thumbnail"></td>
                         <td>
                        	<div>
                        	<label>Harpitnas
                        	</label>
                        	<small> <span class="icon-info-sign"></span> 28 July 2013 - Liburan Menjelang Hari Teh Sosro</small>
                        	</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<script>

$.get('/api/quotes/latest',function(data){
    console.log(data);
    var latestTransactionGrid = $('#latestTransactionGrid');
    for(var i=0;i<data.length;i++){
        var compiledTemplate = _.template($('#latestTransactionSection').html(),data[i]);
        latestTransactionGrid.append(compiledTemplate);
    }
});
   
</script>

