	<div class="row-fluid">
		<div class="span12">
			<h3 class="heading">Form Karyawan</h3>
			<form id="karyawanForm" method="post">
				<div class="formMessage">
	  			</div>		
	  			<input type="hidden" name="oldUsername" value="<%=username%>">		
           		<input type="hidden" name="imgProfile" id="imgProfile" value="<%=imgProfile%>">

           		<input type="hidden" name="namaCabang" id="namaCabang" value="<%=namaCabang%>">
				<div class="row-fluid">
					<div class="span5">
						<div class="control-group">
							<div data-provides="fileupload" class="fileupload fileupload-new">
								<div style="width: 80px; height: 80px;" class="fileupload-new thumbnail">
                                        <img src="<%=imgProfile!=''?imgProfile:'http://www.placehold.it/80x80/EFEFEF/AAAAAA'%>" alt="" id="thumbnail-profile">
                                    </div>
									<div style="width: 80px; height: 80px; line-height: 80px;" class="fileupload-preview fileupload-exists thumbnail"></div>
									<span id="img-uploader" class="btn btn-file"></span>
									<a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
								</div>  
							</div>
							<div class="control-group">
								<label>Username<span class="f_req">*</span></label>
								<input name="username" id="username"  value="<%=username%>">
							</div>

							<div class="control-group">
								<label>
									Identitas
									<span class="f_req">*</span></label>
									<div class="input-prepend">
										<select name="jenisIdentitas" class="span4">
											<option>KTP</option>
											<option>SIM</option>
										</select>	<input type="text" name="noIdentitas"  value="<%=noIdentitas%>">
									</div>
								</div>

								<div class="control-group">
									<div class="row-fluid">
										<div class="span6">
											<label>Nama<span class="f_req">*</span></label>
											<input type="text" name="nama" class="span10" value="<%=nama%>">
										</div>


										<div class="span6">
											<label>Jenis Kelamin<span class="f_req">*</span></label>
											<label class="radio inline">
												<input name="jenisKelamin" value="L" type="radio" >Laki
											</label>
											<label class="radio inline">
												<input name="jenisKelamin" value="P" type="radio">Perempuan
											</label>
										</div>
									</div>
								</div>

								<div class="control-group">
									<label>Tempat/Tanggal Lahir</label>

									<input type="text" name="tempatLahir" class="input-small"  value="<%=tempatLahir%>">
									<input type="text" name="tglLahir" id="tglLahir"  value="<%=tglLahir!=null?moment(tglLahir).format('DD-MMM-YYYY'):''%>">
								</div>
							</div>
							<div class="span6 well">

								<div class="control-group">
									<label>Alamat</label>

									<textarea name="alamat"><%=alamat%></textarea>
								</div>

								<div class="control-group">
									<div class="span4">
										<label>Telepon</label>
										<input type="text" name="telepon" class="span12"  value="<%=telepon%>">
									</div>
									<div class="span4">
										<label>Handphone 1</label>
										<input type="text" name="hp1" class="span12"  value="<%=hp1%>">
									</div>
									<div class="span4">
										<label>Handphone 2</label>
										<input type="text" name="hp2" class="span12"  value="<%=hp2%>">
									</div>
								</div>

								<div class="control-group">
									<label>Email</label>
									<input type="text" name="email"  value="<%=email%>">
								</div>

							</div>
						</div>

						<div class="control-group">
							<div class="row-fluid">
								<div class="span2">
									<label>Bank<span class="f_req">*</span></label>
									<input type="text" name="bank" class="span12">
								</div>
								<div class="span2">
									<label>No Rekening<span class="f_req">*</span></label>
									<input type="text" name="noRekening" class="span12">
								</div>
								<div class="span2">
									<label>A/N</label>
									<input type="text" name="atasNama" class="span12">
								</div>
							</div>
						</div> 

						<div class="control-group">
							<label>Cabang<span class="f_req">*</span></label>
							<input name="cabang" id="cabang"  value="<%=cabang%>">
					
						</div>
						<div class="form-actions">
							<button type="button" class="finish btn btn-primary save" data-loading-text="Loading ..."><i class="icon-ok icon-white"></i> Save</button>
				<a class="btn cancel">Cancel</a>
						</div>
					</form>
				</div>
			</div>
			<script>
			$(document).ready(function() {
				$('#username').select2({  
					ajax: {
						url: "/api/users/search",
						quietMillis: 100,
						data: function (term, page) { 
							return {
								q:term
							}
						},
						results : function(data) {
							return {
								results : $.map(data, function(item) {
									return {
										id : item._id,
										text : item.username
									};
								})
							};
						}
					},
					initSelection: function(element, callback) {
						console.log(callback);
						var id=$(element).val();
						if (id!=="") {
							$.ajax("/api/users/search?q="+id).done(function(data) { 
								data[0].id=data[0]._id;
								data[0].text=data[0].username;
								var obj =data[0];
								callback(obj); });
						}
					}
				});


				$('#cabang').select2({  
					ajax: {
						url: "/api/cabangs/search",
						quietMillis: 100,
						data: function (term, page) { 
							return {
								q:term
							}
						},
						results : function(data) {
							return {
								results : $.map(data, function(item) {
									return {
										id : item._id,
										text : item.namaCabang
									};
								})
							};
						}
					}, formatSelection:function(object,container) {
		               
		                if(typeof object!=='undefined') {

		                    $('#namaCabang').val(object.namaCabang);
		                    
		                }
		                return object.text;
            		},

					initSelection: function(element, callback) {
						
						var id=$(element).val();
						if (id!=="") {
							$.ajax("/api/cabangs/search?q="+id).done(function(data) { 
								data[0].id=data[0]._id;
								data[0].text=data[0].namaCabang;
								var obj =data[0];
								callback(obj); });
						}
					}
				});
				$('#img-uploader').fineUploader({
					request: {
						endpoint: '/api/upload'
					},
					multiple: false,
					validation: {
						allowedExtensions: ['jpeg', 'jpg', 'gif', 'png'],
						sizeLimit: 102400 
					},
					text: {
						uploadButton: 'Click or Drop'
					}
				}).on('complete', function(event, id, fileName, response) {
					if (response.success) {
						$('#thumbnail-profile').attr('src',response.path);
						$('#imgProfile').val(response.path);
					}
					else {
						$('#thumbnail-profile').attr('src','http://www.placehold.it/80x80/EFEFEF/AAAAAA');
						$('#imgProfile').val('');
						
					}
				});

				$("#tglLahir").datepicker({ dateFormat: 'dd-M-yy',changeYear :true,changeMonth: true  });

				

			});
	</script>