<div class="modal hide fade changePasswordModal" id="changePasswordModal">
  <form class="form-horizontal" id="changePasswordForm">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Ganti Password</h3>
  </div>
  <div class="modal-body">
  <div class="row-fluid">
   	
  	<div class="control-group">
		<label for="password" class="control-label">Password:</label>
		<div class="controls">
			<input name="password" id="password" type="password">
		</div>
	</div>
	<div class="control-group">
		<label for="confirmPassword" class="control-label">Konfirmasi Password:</label>
		<div class="controls">
				<input type="password" name="confirmPassword">
		</div>
	</div>
   
   	</div>
  </div>
  <div class="modal-footer">
     <a class="btn btn-primary" id="changePassword">Ganti Password</a>
  </div>
  	</form>
</div>