<div class="row-fluid">
	<div class="span12">
		<h3 class="heading">Tambah Perusahaan Kredit</h3>
		<form id="perusahaanKreditForm" method="post">
		<div class="formMessage">
  			</div>
				<div class="row-fluid control-group">
					<div class="span5">
					<div class="well">
					<p><span class="label label-inverse">Informasi Perusahaan Kredit</span></p>
							<div class="control-group">
								<div class="row-fluid">
									<div class="span6">
										<label>Inisial<span class="f_req">*</span> </label>
										<input type="text" name="inisial" class="span12" value="<%=inisial%>">
									</div>
								</div>
							</div>

							<div class="control-group">
								<div class="row-fluid">
									<div class="span12">
										<label>Nama Lengkap<span class="f_req">*</span></label>
										<input type="text" name="namaPerusahaanKredit" class="span12" value="<%=namaPerusahaanKredit%>">
									</div>
								</div>
							</div>
							<div class="control-group">
								<div class="row-fluid">
									<div class="span12">
										<label>Kredit Protection</label>
										<input type="checkbox" name="kreditProtection" value="true" <%=kreditProtection==true?'checked':''%>>
									</div>
								</div>
							</div>
					
					</div>
					</div>
					<div class="span6">
			
				<div class="well">
					<p><span class="label label-inverse">Suku Bunga</span></p>
					<div class="row-fluid">
						<div class="span3">
							<label>Tahun 1 <span class="f_req">*</span></label>
							<input type="text" name="sukuBunga[thn1]" class="span8" value="<%=sukuBunga.thn1%>"> %
						</div>
						<div class="span3">
							<label>Tahun 2 <span class="f_req">*</span></label>
							<input type="text" name="sukuBunga[thn2]" class="span8" value="<%=sukuBunga.thn2%>"> %
						</div>
						<div class="span3">
							<label>Tahun 3<span class="f_req">*</span></label>
							<input type="text" name="sukuBunga[thn3]" class="span8" value="<%=sukuBunga.thn3%>"> %
						</div>

						<div class="span3">
							<label>Tahun 4<span class="f_req">*</span></label>
							<input type="text" name="sukuBunga[thn4]" class="span8" value="<%=sukuBunga.thn4%>"> %
						</div>
					</div>
				</div>
			</div>
				</div>
			

			
			<div class="form-actions">
				<button type="button" class="finish btn btn-primary save" data-loading-text="Loading ..."><i class="icon-ok icon-white"></i> Save</button>
				<a class="btn cancel">Cancel</a>
			</div>
		</form>
	</div>
</div>

<script>
	
</script>