
<div class="row-fluid">
	<div class="span3">
		<input type="text" name="bungaAsuransi[][jenis]" class="span12" value="<%=jenis%>"> 
	</div>		
	<div class="span1">
		<input type="text" name="bungaAsuransi[][thn1]" class="span8" value="<%=thn1%>"> %
	</div>
	<div class="span1">
		<input type="text" name="bungaAsuransi[][thn2]" class="span8" value="<%=thn2%>"> %
	</div>
	<div class="span1">
		<input type="text" name="bungaAsuransi[][thn3]" class="span8" value="<%=thn3%>"> %
	</div>
	<div class="span1">
		<input type="text" name="bungaAsuransi[][thn4]" class="span8" value="<%=thn4%>"> %
	</div>
	<div class="span1">
		<a class="btn removeBungaAsuransi"><i class="splashy-remove"></i></a>
	</div>
</div>	