 
<div class="row-fluid">
    <div class="span12">
        <h3 class="heading">Daftar Proposal</h3>
        <div class="row-fluid">
            <div class="span3">
                <input type="text" placeholder="Nama Customer" class="span8" id="namaCustomer">
            </div>
        </div>
        <table class="table table-bordered table-striped  dTableR" id="privia_grid" aria-describedby="dt_gal_info">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Kendaraan</th>
                    <th>Alamat</th>
                    <th>Lama Pinjaman</th>
                    <th>Waktu</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>

            </tbody></table>

        </div>
    </div>
    <script>

    var oTable = $('#privia_grid').dataTable( {
        "bProcessing": true,
        "bServerSide": true,
        "sDom": "<'row'<'span6'<'dt_actions'>l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap_alt",
        "sAjaxDataProp" : "data",
        "aoColumnDefs": [
            {
                // `data` refers to the data for the cell (defined by `mData`, which
                // defaults to the column being worked with, in this case is the first
                // Using `row[0]` is equivalent.
                "mRender": function ( data, type, row ) {
                   return row.jenisKendaraan +' - '+ row.namaKendaraan +' ('+row.tahunBuat+')';
                },
                "aTargets": [ 1 ]
            },
              {
                "mRender": function ( data, type, row ) {
                    
                    return moment(data).fromNow();
                },
                "aTargets": [4  ]
            },
            {
                "mRender": function ( data, type, row ) {

                    return '<a href="#/quote/edit/'+data+'">Ubah</a>';
                },
                "aTargets": [5  ]
            }
            ],
        "aoColumns": [
        { "mData": "namaCustomer" },
        { "mData": "jenisKendaraan" },
        { "mData": "alamat" },
        { "mData": "lamaPinjaman" },
        { "mData": "tglTambah" },
        { "mData": "_id" }
        ],
        "sAjaxSource": "/api/quotes"
    } );

   $('#namaCustomer').keyup( function() {
      
           oTable.fnFilter( 'namaCustomer|'+this.value );
        
    } );
    </script>

